.vscode/c_cpp_properties.json
.vscode/settings.json
N_Queen_Again.cpp
CategoryWisePersonalNotesTutorialsAndProblemsSolved/BacktrackingAndRecursion/Backtracking/Implementations/.vscode/c_cpp_properties.json
CategoryWisePersonalNotesTutorialsAndProblemsSolved/BacktrackingAndRecursion/Backtracking/Implementations/.vscode/launch.json
CategoryWisePersonalNotesTutorialsAndProblemsSolved/BacktrackingAndRecursion/Backtracking/Implementations/.vscode/settings.json
CategoryWisePersonalNotesTutorialsAndProblemsSolved/BacktrackingAndRecursion/Backtracking/Problems/.cph/.Sudoku_Solver.cpp_56cf93ea515480dd17951c188a9bbe67.prob
CategoryWisePersonalNotesTutorialsAndProblemsSolved/BacktrackingAndRecursion/Backtracking/Problems/.vscode/c_cpp_properties.json
SolvedProblems/Codeforces/.cph/.A_Make_A_Equal_to_B.cpp_dc72dd1c588a262f13e4867bae74586e.prob
SolvedProblems/Codeforces/.cph/.B_Playing_with_GCD.cpp_4c1a9fb6b34ffe7d0469bcaf25ee150d.prob
SolvedProblems/Codeforces/.cph/.C_1_Good_Subarrays_Easy_Version.cpp_983d72c64e646eb7196cdd0f59099a63.prob
SolvedProblems/Codeforces/.vscode/c_cpp_properties.json
SolvedProblems/Codeforces/.vscode/settings.json
